#lightboxShadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}
#lightboxWrapper {
	margin: 0 auto;	
}
#lightbox {
	position: absolute;
	top: 0;
	display: none;
	width: auto;
	z-index: 1001;
}
#lightbox img {
	margin: 0;
	padding: 0;
	float: none;
	display: block; 
}
#lightbox .ctrlBar {
	background-color: #ccc;
	padding: 1% 3%;
	text-align: right;
	width: 94%;
}

